
:root{
	--height-header: 60px;
	--color-green:rgb(221, 239, 221);
}
html,
body {
  width: 100vw;
  height: 100vh;
  
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;;
}
.header {
	height: var(--height-header);
	width: 100%;
  
	line-height: var(--height-header);
	padding-left: 10px;
  
	font-size: 2rem;
	text-transform: capitalize;
	letter-spacing: 2px;
	text-align: center
  }
.list_container{
    display: flex;
    justify-content: space-around;
	height: calc(100% - var(--height-header));
}
.course_container, .selected_container{
	height: 300px;
	width:200px;
	border: 2px solid black;
	overflow: auto;
	
}
.course_header .selected_header{
	text-align: center
}
.course_list, .selected_list{
	list-style-type: none;
}
li{
	text-align:center;
}
li:nth-child(odd){
	background: var(--color-green);
	border: 1px solid black;
}
li:nth-child(even){
	background: white;
	border: 1px solid black;
}

