
:root{
	--height-header: 70px;
	--color-green:rgb(221, 239, 221);
	--height-container: 300px;
	--width-container: 200px;
}
html,
body {
  width: 100vw;
  height: 100vh;
  
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Times New Roman", Times, serif;
}
.header {
	height: var(--height-header);
	width: 100%;
	line-height: var(--height-header);
	font-size:2rem;
	text-transform: capitalize;
	text-align: center
}
/*flex container*/
.lists_container{
    display: flex;
    justify-content: space-around;
}
/*flex element*/
.course_container, .selected_container{
	height: var(--height-container);
	width: var(--width-container);
	border: 1.5px solid black;
	overflow: auto;
	text-align:center;
}
.course_header, .selected_header{
	height: calc(calc(var(--height-container) - 3px)/7);
	line-height: calc(calc(var(--height-container) - 3px)/7);
	
	text-transform: capitalize;
}
.course_list, .selected_list{
	list-style-type: none;
}
.course_list_item{
	height: calc(calc(var(--height-container) - 3px)/7);
	font-size: 0.75rem;
	font-weight: 600;
}
.course_list_item:nth-child(odd){
	background: var(--color-green);
	border-block: 1px solid black;
	border-inline: 2px solid black;
}
.course_list_item:nth-child(even){
	background: white;
	border-block: 1px solid black;
	border-inline: 2px solid black;
}
/*counter*/
.counter_container{
	height: var(--height-header);
	line-height: var(--height-header);
	text-align: center;
	font-size: 1rem;
	font-weight: 600
}
#submit{
	width: 50px;
}

